@page
@model KeySecret.App.Web.Pages.Authentication.LoginPageModel
@{

}

<div class="container text-center mt-3">

    <h2 class="mb-3">Login</h2>

    <form method="post">
        <div class="mb-3">
            <input class="col-form-text" type="text" asp-for="LoginCredencials.Username" placeholder="Username" value="root" />
            <span asp-validation-for="LoginCredencials.Username"></span>
        </div>
        <div class="mb-3">
            <input class="col-form-text" type="password" asp-for="LoginCredencials.Password" placeholder="Password" value="Iam_root123" />
            <span asp-validation-for="LoginCredencials.Password"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>

</div>
