@page
@model KeySecret.App.Web.Pages.Authentication.RegisterPageModel
@{
}

<div class="container text-center mt-3">

    <h2 class="mb-3">Register</h2>

    <form method="post">
        <div class="mb-3">
            <input class="col-form-text" type="text" asp-for="RegisterCredencials.Username" placeholder="Username" />
            <span asp-validation-for="RegisterCredencials.Username"></span>
        </div>
        <div class="mb-3">
            <input class="col-form-text" type="text" asp-for="RegisterCredencials.Email" placeholder="Email" />
            <span asp-validation-for="RegisterCredencials.Email"></span>
        </div>
        <div class="mb-3">
            <input class="col-form-text" type="password" asp-for="RegisterCredencials.Password" placeholder="Password" />
            <span asp-validation-for="RegisterCredencials.Password"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
    </form>

</div>