@page
@model KeySecret.App.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>keySECRET</h1><br/>
    <h4>Password manager</h4>
    <br /><br/>
    Welcome @Model.MainVM.CurrentUser.Username to, yet another, password manager.
</div>