@page
@model KeySecret.App.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container my-3">
    <h4>Password manager</h4>
    <p>
        Welcome @Model.MainVM.CurrentUser.Username to, yet another, password manager.
    </p>
</div>

